body
{
    background-color: rgb(5, 5, 5);
}
a{
    color: white;
    text-decoration: none;
}
.social
{
font-size: 150px;
margin-top: 45%;
background-color: rgb(17, 17, 17);
border-radius: 20px;
}
h1{
    font-size: 155px;
    color: white;
}