body{
  background-color: black;
}

h1, h2, h3, h4, h5, a{
  color:white;
  font-family: "press start 2p";
        padding: 0px 16px;
}

a{
  font-size: 32px;
}

p{
    padding: 0px 16px;
    font-family: "press start 2p";
color: #40d93b;
}

h2{
  font-size: 25px;
}

h1
{
  font-size: 50px;
}

.navbar a{
    color: #dedede;
    overflow: hidden;
    float: left;
    display: block;
      padding: 2px 16px;
}

.navbar a:hover {
color: #40d93b;
}
.selected a
{
  color: #40d93b;
}

.ictlogo{
  width: 200px;
  height: 200px;
}

img{
  height: 400px;
}


footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
